@use "../abstracts" as *;

.customers {
	.ant-form-item-required::before {
		display: none !important;
	}
	&__search {
		padding: 13px 21px;
		gap: 13px;
		background-color: #fff;
		border-radius: 5px;
		&__form {
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			.ant-form-item-label {
				padding: 0 !important;
			}
			input {
				border: 1px solid #bfc4c9;
			}
			display: flex;
			align-items: center;
			justify-content: space-between;
			.ant-form-item-label {
				padding: 0 !important;
			}
			.ant-picker {
				width: 100%;
				border-radius: 5px;
			}
			.ant-select-selector,
			input {
				border-radius: 5px !important;
			}
			&__item {
				width: calc((100% - 220px) / 6);
				margin: 0;

				.ant-picker {
					width: 100%;
					border-radius: 5px;
				}
				.ant-select-selector,
				input {
					border-radius: 5px !important;
				}
				&__select {
					padding: 1px;
				}
			}
			&__button {
				background-color: #fff;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				height: 35px;
				padding: 3px 15px;
				background: #ffffff;
				width: 130px;
				cursor: pointer;
				/* Neutral Color 1.2 */
				border: 1px solid #001529;
				border-radius: 5px;
				&-custom {
					color: #fcd804;
					background: #001529;
					width: 130px;
					svg {
						font-size: 16px;
						fill: #fcd804;
					}
				}
			}
		}
	}
	&__information {
		margin-top: 16px;
		padding: 16px;
		border-radius: 5px;
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__item {
			cursor: pointer;
			width: calc(100% / 6);
			padding: 4px 12px;
			border-right: dotted 1px #000;
			&__main {
				display: flex;
				align-items: center;
				justify-content: space-between;
				&__count {
					background: $primary_color_1_1;
					border-radius: 50%;
					width: 25px;
					height: 25px;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
			&__price {
				margin-top: 4px;
				font-weight: bold;
			}
		}
		&__item.active {
			background: $neutral_color_1_6;
		}
		&__item:nth-last-child(1) {
			border: none;
		}
	}
	&__table {
		margin-top: 16px;
		padding: 16px;
		border-radius: 5px;
		background: #fff;
		&__buttons {
			display: flex;
			align-items: center;
			justify-content: space-between;
			&__left {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				div {
					margin-right: 8px;
				}
			}
		}
	}
	&__expanded {
		display: flex;
		justify-content: space-between;
		&__left {
			width: calc(60% - 12px);
			&__information {
				margin-left: calc(100% - 350px);
				margin-top: 8px;
				width: 350px;

				&__row {
					display: flex;
					align-items: center;
					justify-content: space-between;
					&__total {
						display: flex;
						align-items: center;
						justify-content: space-between;
						margin-top: 4px;
						padding-top: 8px;
						border-top: solid 1px #000;
						font-weight: bold;
					}
				}
			}
		}
		&__right {
			width: calc(40% - 12px);

			&__information {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 4px;
				&__label {
					color: $neutral_color_1_3;
				}
				&__textarea {
					border: 1px solid $neutral_color_1_3;
					border-radius: 5px;
					padding: 8px;
					min-height: 80px;
					overflow: auto;
				}
			}
		}
	}
	&__edit {
		&__header {
		}
		&__body {
			display: flex;
			justify-content: space-between;
			flex-direction: column;

			@media screen and (min-width: 920px) {
				flex-direction: row;
			}
			&__title {
				font-size: 16px;
				font-weight: 500;
			}
			&__left-side {
				width: 59%;
				&__info {
					borderradius: 5px;
					padding: 13px 21px;
					boxshadow: 0 3px 3px 1px rgba(0, 0, 0, 0.05);
				}
				&__wrapper {
					background-color: white;
					padding: 13px 21px 13px 21px;
					margin-bottom: 13px;
				}
			}
			&__right-side {
				width: 40%;
				&__wrapper {
					background-color: white;
					padding: 13px 21px 13px 21px;
					margin-bottom: 13px;
				}
				&__purchase {
					margin-bottom: 13px;
					&__value {
						display: flex;
						align-items: center;
						justify-content: flex-end;
						padding: 0 12px;
						height: 35px;
						border: 1px solid #adb4bb;
						border-radius: 5px;
					}
					&__date {
						.ant-picker {
							height: 35px;
							border-radius: 5px;
							border: 1px solid #adb4bb;
						}
					}
				}
				&__button {
					cursor: pointer;
					background-color: #f0f2f5;
					border-radius: 2px;
					padding: 10px;
					color: #2980b0;
					transition: all 0.25s;
					margin-bottom: 10px;
					display: flex;
					align-items: center;
					svg {
						background-color: #2980b0;
						color: white;
						border-radius: 50%;
						outline: none;
						border: none;
					}
					&:hover {
						background-color: #e3ecfb;
					}
				}
				&__transport {
					max-height: 400px;
					overflow: auto;
					margin-bottom: 5px;
					box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.05);
					&__item {
						display: flex;
						align-items: center;
						justify-content: space-between;
						padding: 8px 16px;
						background-color: #f5f5f5;
						transition: all 0.25s;
						&__fullname {
							font-size: 16px;
							font-weight: 500;
							margin-right: 8px;
						}
						&__default {
							display: inline-flex;
							align-items: center;
							margin-left: 8px;
							color: #38c173;
							font-size: 14px;
							font-weight: 400;
							& span:not(:first-child) {
								margin-left: 5px;
							}
						}
						&__text {
							color: #808a94;
						}
						&:hover {
							background-color: #b8d3ff;
						}
						&__button {
							&-groups {
								display: flex;
								font-size: 16px;
								align-items: center;
							}
							&-item {
								cursor: pointer;
								margin-left: 3px;
								margin-bottom: 3px;
								transition: all 0.25s;
								&:hover {
									color: #e3ecfb;
								}
							}
						}
					}
				}
			}
			&__row {
				display: flex;
				justify-content: space-between;
				flex-wrap: nowrap;
				flex: 1 1;
				margin-top: 0;
			}
			&__item {
				flex-grow: 1;
				flex-basis: 33%;
			}
			& .ant-form-item-row {
				display: block;
				& label {
					height: unset;
				}
				& .ant-picker {
					width: 100%;
				}
			}
		}
	}
	& table {
		width: 100%;
	}
}

.customers__create {
	&__body {
		display: flex;
		justify-content: space-between;
		&__left {
			width: calc(60% - 4px);
			&__items {
				background: #fff;
				border-radius: 5px;
				padding: 16px;
			}
			&__transport {
				background: #fff;
				border-radius: 5px;
				padding: 16px;
				margin-top: 8px;
				&__left {
					padding: 8px;
					border-radius: 5px;
					border: 1px solid #999999;
					width: calc(40% - 4px);
					display: flex;
					align-items: center;
					justify-content: space-between;
					flex-wrap: wrap;
				}
				&__right {
					padding: 8px;
					border-radius: 5px;
					border: 1px solid #999999;
					width: calc(60% - 4px);
				}
			}
		}
		&__right {
			width: calc(40% - 4px);
			&__source {
				background: #fff;
				border-radius: 5px;
				padding: 16px;
			}
			&__shipping {
				background: #fff;
				border-radius: 5px;
				padding: 16px;
				margin-top: 8px;
			}
			&__payments {
				background: #fff;
				border-radius: 5px;
				padding: 16px;
				margin-top: 8px;
			}
		}
	}
}

.customers__edit {
	.ant-form-item-required::before {
		display: none !important;
	}
	& .ant-form-item-row {
		display: block;
		& label {
			height: unset;
			margin-bottom: 2px;
		}
		& .ant-picker {
			width: 100%;
		}
	}
}
