.featuresPage__edit {
	&__information-tab{
		margin: 16px 0;
		&__wrapper{
			background-color: #fff;
			padding: 8px 12px;
			border-radius: 8px;
			.ant-row-block{
				display : block;
			}			
		}
		&__purposes-box{
			& .ant-form-item{
				margin-bottom: 12px !important;
			}
		}
		&__form-item{		
			.ant-row{
				display : block;
			}
			&__input{
				border-radius: 6px !important;		
				padding: 6px 12px !important ;		
				height: 35px;
			}
			&__button{				
				background-color: transparent;
				padding : 6px 12px;								
				border: 1px solid black;
				border-radius : 6px;
				height: 35px;
				cursor: pointer;
				width : 130px;
				transition: all 0.25s;
				&:hover{
					background-color : #000;
					color : #fcd804;
					border: 1px solid #fcd804;
				}
			}
			&__select{
				.ant-select-selector{
					border-radius: 6px !important;
				}
			}
		}
		&__form-list{
			
		}
		&__title{
			font-size: 14;
			font-weight: 500;
			margin: 12px;
		}
	}
}

.featuresPage__create {
	&__buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&__left {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}
		&__right {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}
	&__form {
		&__informations {
			display: flex;
			justify-content: space-between;
			&__left {
				width: calc(70% - 8px);
				&__information {
					padding: 16px;
					background: #fff;
					margin-top: 8px;
					border-radius: 5px;
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
					width: 100%;
					&__item{
						width : 48%;
					}
					h4 {
						width: 100%;
					}
					.ant-form-item {
						width: calc((100% - 24px) / 4);
					}
				}
				&__attributes {
					padding: 16px;
					background: #fff;
					margin-top: 8px;
					border-radius: 5px;
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
					width: 100%;
					&__header {
						display: flex;
						align-items: center;
						justify-content: space-between;
						width: 100%;
					}
				}
			}
			&__right {
				width: calc(30% - 8px);
				margin-top: 8px;
				&__status {
					padding: 16px;
					background: #fff;
					border-radius: 5px;
				}
				&__category {
					margin-top: 8px;
					padding: 16px;
					background: #fff;
					border-radius: 5px;
				}
				&__installment {
					margin-top: 8px;
					padding: 16px;
					background: #fff;
					border-radius: 5px;
				}
				&__platform {
					margin-top: 8px;
					padding: 16px;
					background: #fff;
					border-radius: 5px;
					.ant-checkbox-group {
						label {
							width: calc(100% - 20px);
							margin-left: 20px;
						}
					}
				}
				&__available {
					margin-top: 8px;
					padding: 16px;
					background: #fff;
					border-radius: 5px;
					.ant-table-cell {
						padding: 4px 10px !important;
					}
				}
			}
		}
		&__warranty {
			margin-top: 8px;
			padding: 16px;
			background: #fff;
			border-radius: 5px;
			&__information {
				display: flex;
				align-items: center;
				justify-content: space-between;
				.ant-form-item {
					width: calc((100% - 24px) / 4);
				}
			}
			&__warranty {
				display: flex;
				align-items: center;
				justify-content: space-between;
				.ant-form-item {
					width: calc((100% - 24px) / 4);
				}
			}
		}
		&__seo {
			display: flex;
			justify-content: space-between;
			&__left {
				width: calc(70% - 8px);
				&__description {
					margin-top: 8px;
					width: 100%;
					padding: 16px;
					background: #fff;
					border-radius: 5px;
					h4 {
						margin-top: 8px;
					}
				}
				&__image {
					margin-top: 8px;
					width: 100%;
					padding: 16px;
					background: #fff;
					border-radius: 5px;
					&__thumbnail {
						width: 200px;
						height: 200px;
						display: flex;
						align-items: center;
						justify-content: center;
						flex-direction: column;
						border: 1px dotted #000;
						background: rgb(240, 242, 245);
						border-radius: 5px;
						font-size: 12px;
						cursor: pointer;
					}
					&__images {
						&__upload {
							width: 100px;
							height: 100px;
							display: flex;
							align-items: center;
							justify-content: center;
							flex-direction: column;
							border: 1px dotted #000;
							background: rgb(240, 242, 245);
							border-radius: 5px;
							font-size: 8px;
							cursor: pointer;
							img {
								width: 50%;
								height: auto;
							}
						}
					}
				}
			}
			&__right {
				width: calc(30% - 8px);
				&__information {
					margin-top: 8px;

					padding: 16px;
					background: #fff;
					border-radius: 5px;
					&__thumbnail {
						width: 100%;
						min-height: 120px;
						display: flex;
						align-items: center;
						justify-content: center;
						flex-direction: column;
						border: 1px dotted #000;
						background: rgb(240, 242, 245);
						border-radius: 5px;
						font-size: 12px;
						cursor: pointer;
					}
				}
			}
		}
		&__history {
			margin-top: 8px;
			padding: 16px;
			background: #fff;
			border-radius: 5px;
		}
		&__group {
			margin-top: 8px;
			padding: 16px;
			background: #fff;
			border-radius: 5px;
		}
		&__child {
			margin-top: 8px;
			padding: 16px;
			background: #fff;
			border-radius: 5px;
		}
	}
}


