@use "../abstracts" as *;

.title {
	color: "red";
	font-weight: 600;
	margin-top: 160px;
}
// .ant-input-affix-wrapper > input.ant-input {
//   background-color: white !important;
// }

.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button {
	background-color: #be1e2d;
	border: 0px;
}

.input_signIn {
	// background-color: red !important
	border: 1px solid $neutral_color_1_6;
	border-radius: 6px !important;
}

.content_signIn {
	height: 100vh;
	display: flex;
	justify-content: center;
}

#formLogin {
	.ant-form-item {
		margin-top: 0;
		margin-bottom: 20px;
	}
	.ant-col.ant-form-item-label {
		padding: 0;
	}
}
