@use "../abstracts" as *;

#sidenav {
	height: calc(100vh - 48px);
	position: fixed;
	top: 48px;
	left: 0;
	width: 230px;
	overflow-y: auto;
	position: fixed;
	background: #fff;
	padding: 0 !important;
	transition: all 0.2s;
	&::-webkit-scrollbar {
		width: 5px;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: #fff;
		border-radius: 5px;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: #fff;
	}

	span.icon {
		width: 38px;
	}
	a.dashboardLink {
		svg {
			width: 20px;
		}
	}
	.titleMenu {
		cursor: pointer;
		font-weight: 500;
		font-size: 14;
		color: $neutral_color_1_2;
	}
	.ant-row.ant-row-middle.child-menu {
		padding: 8px 0px 8px 10px;
	}
	.child-menu-click {
		padding: 8px 0px 8px 10px;
		border-right: solid 4px $primary_color_1_1;
		// border-left: 4px solid @primary_color_1_1;
		// background-color: @neutral_color_1_6;
		cursor: pointer;
		background: $neutral_color_1_2 !important;
		svg path {
			fill: $primary_color_1_1 !important;
		}
		.titleMenu {
			color: $primary_color_1_1;
		}
	}

	.parent-menu {
		// width:100px;
		// background-color: blue;
		// padding:10px 10px 10px 10px;
		padding: 8px 0;
		cursor: pointer;
		span.icon {
			width: 30px;
		}
	}

	.parent-menu span:hover {
		color: $accent_color_5_5;
	}
	.child-menu {
		// width:100px;
		// background-color: blue;
		padding: 10px 0 10px 10px;
		// padding: 15px 0px;
		cursor: pointer;
	}

	.child-menu:hover {
		// width:100px;
		// background-color: @accent_color_5_5;
		cursor: pointer;
		// padding:10px 10px 10px 10px;
		// padding-left: 10px;
		// cursor: pointer;
	}

	.child-menu span:hover {
		color: $accent_color_5_5;
	}

	.headerParent {
		padding: 10px;
		// width:'100%';
		width: 200px;
		background-color: $neutral_color_1_1;
		position: absolute;
	}

	.headerAll-content {
		border: 1px solid "red";
		// background-color: red;
	}
	.scaled-logo {
		transform: scale(0.4); /* Equal to scaleX(0.7) scaleY(0.7) */
		// background-color: @neutral_color_1_7;
	}

	.dashboardLink {
		display: flex;
		align-items: center;
		padding: 8px 0;
		width: 100%;
		font-weight: 500;
		font-size: 14px;
		height: 41px;
		color: $neutral_color_1_2 !important;
		img {
			margin: 0 5px;
		}
		svg {
			margin-right: 8px;
			g path {
				fill: $neutral_color_1_2;
			}
		}
	}
	.dashboardLink span:hover {
		color: $accent_color_5_5;
	}
	.dashboardLink.activeLink {
		background: $neutral_color_1_2;
		svg path {
			fill: $primary_color_1_1;
		}
		.db-title {
			color: $primary_color_1_1;
		}
	}
	.button_navBar {
		width: 100%;
		cursor: pointer;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
	}
	.icon .iconLeft {
		display: flex;
		align-items: center;
		justify-content: center;
		transition: transform 0.1s linear;
	}
	.icon .iconLeft.active {
		transform: rotate(90deg);
		transition: transform 0.1s linear;
	}
	.icon .iconLeft svg path {
		fill: $neutral_color_1_2;
	}

	.closeNav {
		width: 0;
		transition: all 0.2s;

		.ant-layout-sider-children {
			display: none;
		}
	}
}

.subHeader {
	.btnGroup {
		display: flex;
		button {
			margin-left: 16px;
		}
	}
	.mainLink {
		font-size: 14px;
		font-weight: 600;
		// color: $neutral_color_1_2;
	}
	.backBtn {
		background: $neutral_color_1_2;
		/* Neutral Color 1.4 */

		border: 1px solid $neutral_color_1_2;
		box-sizing: border-box;
		border-radius: 5px;
		color: $primary_color_1_1;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;

		height: 40px;
		width: 138px;
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			margin: 6px 8px 0 0;

			width: 20px;
			height: 20px;
			transform: rotate(90deg);
			path {
				fill: $primary_color_1_1;
			}
		}
	}

	.mainBtn {
		background: $neutral_color_1_2;
		/* Blue 2 */
		color: $primary_color_1_1;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		border: 1px solid $neutral_color_1_2;
		box-sizing: border-box;
		border-radius: 5px;
		height: 33px;
		min-width: 138px;
		padding: 0 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		svg {
			width: 20px;
			height: 20px;
			margin-right: 8px;
			path {
				fill: $neutral_color_1_2;
			}
		}
	}
	.plusSvg {
		svg {
			margin-bottom: 4px;
			transform: scale(0.8);
			path {
				fill: $primary_color_1_1;
			}
		}
	}

	a.subLink:hover {
		color: red !important;
	}
}

.layout-dashboard .ant-layout-sider.sider-primary {
	height: calc(100vh - 48px);
	overflow: auto;
	overflow-x: hidden;
	margin: 0;
	padding: 33px 20px;
	transition: all 0.2s;
}
.layout-dashboard .ant-layout-sider.sider-primary.closeNav {
	max-width: 0px !important;
	min-width: 0px !important;
	transition: all 0.2s;
}
