.moduleFunctions {
	&__search {
		width: 100%;
		background-color: white;
		padding: 13px;
		border-radius: 5px;
		&__form {
			display: flex;
			justify-content: space-between;
			align-items: center;
			&__input {
				width: 35%;
				margin-bottom: 22px;
			}
			&__select {
				width: 15%;
			}
			&__date_picker {
				width: 19%;
				margin-bottom: 22px;
			}
			.ant-picker {
				width: 100%;
				border-radius: 5px;
			}
			.ant-select-selector,
			input {
				border-radius: 5px !important;
			}
			& > *:not(:first-child) {
				margin-left: 5px;
			}
			.ant-form-item-label {
				padding: 0 !important;
			}
		}
	}
	&__detail {
		width: 100;
		margin: 1rem 2rem;
		&__form {
			&__row {
				display: flex;
				justify-content: space-between;
				align-items: center;
				&__item {
					flex: 1;
					&:not(:first-child) {
						margin-left: 16px;
					}
					.ant-picker {
						width: 100%;
						border-radius: 5px;
					}
					.ant-select-selector,
					input {
						border-radius: 5px !important;
					}
				}
			}
		}
	}
	&__form-function {
		margin: 12px 0;
		&__table {
			margin-top: 12px;
			border-radius: 8px;

			font-size: 40px;
			& .ant-table table {
				border-spacing: revert;
				& .ant-table-content {
					padding: 3px 0;
				}
			}
			& .ant-spin-container {
				margin-left: 6px !important;
				width: 100%;
			}
		}
	}
	&__table {
		table {
			width: 100%;
			tr {
				width: 100%;
			}
			thead > tr > th {
				padding: 4px 8px !important;
			}
		}
		.ant-table-cell-with-append {
			position: relative;
			button {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
		// .ant-table-cell-with-append {
		// 	display: flex;
		// 	align-items: center;
		// 	justify-content: space-between;
		// 	flex-direction: row-reverse;
		// 	position: relative;
		// 	width: 120px;
		// 	& > * {
		// 		display: flex;
		// 		justify-content: center;
		// 		align-items: center;
		// 	}
		// 	.ant-table-row-expand-icon {
		// 		display: flex;
		// 		justify-content: center;
		// 		align-items: center;
		// 		transform: translateX(13px);
		// 	}
		// }

		@media screen and (max-width: 1280px) {
			// .ant-table-cell-with-append {
			// 	width: 120px;
			// }
			// .ant-table-cell:nth-of-type(3),
			// .ant-table-cell:nth-of-type(4) {
			// 	display: none;
			// }
		}

		.ant-table-cell-with-append::after {
			// content: "";
			// position: absolute;
			// left: 50%;
			// height: 100%;
			// width: 1px;
			// border: 1px solid #f0f0f0;
		}

		// .row-dragging {
		// 	background: #fafafa;
		// 	border: 1px solid #ccc;
		// }

		// .row-dragging td {
		// 	padding: 16px;
		// }

		// .row-dragging .drag-visible {
		// 	visibility: visible;
		// }
		// & td {
		// 	padding: 12px !important;
		// }
		// .ant-table-content table{
		// 	border : 1px solid #f0f0f0;
		// }

		// .ant-table-cell{
		// 	overflow : hidden;
		// }

		// .ant-table-tbody > tr > td > .ant-table-wrapper:only-child .ant-table{
		// 	margin-left: 36px;
		// }
	}
}

.moduleFunctions_edit {
	padding-right: 32px;
	.subHeader {
		padding: 0 !important;
	}

	&__list {
		&__item {
			&__popover {
				&__item {
					padding: 8px 12px;
					text-align: left;
					cursor: pointer;
					width: 150px;
					display: flex;
					align-items: center;
					font-size: 14px;
					transition: all 0.25s;
					& span:not(:first-child) {
						margin-left: 10px;
					}
					&:hover {
						background-color: #fafafa;
					}
				}
			}
		}
	}
	&__custom {
		&__nested {
			&__table {
				font-size: 40px;
				& .ant-table table {
					border-spacing: revert;
					& .ant-table-content {
						padding: 3px 0;
					}
				}
				& .ant-spin-container {
					margin-left: 6px !important;
					width: 100%;
				}
			}
		}
	}
	.button {
		border-radius: 5px;
		width: 130px;
		padding: 4.5px 12px;
		background-color: transparent;
		border: 1px solid rgba(0, 0, 0, 0.45);
		cursor: pointer;
		transition: all 0.25s;
		&:not(:first-child) {
			margin-left: 12px;
		}
	}
	.button:hover,
	.button-active,
	.button-active:hover {
		background-color: #fcd804;
		border-color: #fcd804;
		color: #000;
		box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
	}
}
