@use "../abstracts" as *;

.ordersPage {
	&__search {
		padding: 16px;
		background-color: #fff;
		border-radius: 5px;
		&__form {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			&__item {
				width: calc((100% - 288px) / 5);
				margin: 0;
			}
		}
	}
	&__information {
		margin-top: 16px;
		padding: 16px;
		border-radius: 5px;
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__item {
			cursor: pointer;
			width: calc(100% / 6);
			padding: 4px 12px;
			border-right: dotted 1px #000;
			&__main {
				display: flex;
				align-items: center;
				justify-content: space-between;
				&__count {
					background: $primary_color_1_1;
					border-radius: 50%;
					width: 25px;
					height: 25px;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
			&__price {
				margin-top: 4px;
				font-weight: bold;
			}
		}
		&__item.active {
			background: $neutral_color_1_6;
		}
		&__item:nth-last-child(1) {
			border: none;
		}
	}
	&__table {
		margin-top: 16px;
		padding: 16px;
		border-radius: 5px;
		background: #fff;
		&__buttons {
			display: flex;
			justify-content: space-between;
			&__left {
				display: flex;
				justify-content: flex-start;
				flex-wrap: wrap;
				div {
					margin-right: 8px;
				}
			}
			&__right {
				display: flex;
				justify-content: flex-end;
				div {
					margin-left: 8px;
				}
			}
		}
	}
	&__expanded {
		display: flex;
		justify-content: space-between;
		padding: 8px 0;
		&__left {
			width: calc(65% - 12px);
			&__information {
				margin-left: calc(100% - 350px);
				margin-top: 8px;
				width: 350px;

				&__row {
					display: flex;
					align-items: center;
					justify-content: space-between;
					&__total {
						display: flex;
						align-items: center;
						justify-content: space-between;
						margin-top: 4px;
						padding-top: 8px;
						border-top: solid 1px #000;
						font-weight: bold;
					}
				}
			}
		}
		&__right {
			width: calc(35% - 12px);
			border-radius: 5px;
			border: solid 1px rgb(243, 245, 247);
			h4 {
				padding: 6px;
				background: rgb(240, 242, 245);
				margin: 0;
			}
			&__information {
				border-bottom: 1px solid rgb(240, 242, 245);

				padding: 6px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				&__label {
					color: $neutral_color_1_3;
				}
				&__textarea {
					border: 1px solid $neutral_color_1_3;
					border-radius: 5px;
					padding: 8px;
					min-height: 80px;
					overflow: auto;
				}
			}
		}
	}
}

.ordersPage__edit {
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&__button {
			display: flex;
			align-items: center;
			justify-content: space-between;
			:nth-child(1) {
				margin-right: 8px;
			}
		}
		&__information {
			&__code {
				margin-right: 16px;
				color: $accent_color_5_2;
			}
			&__history {
				margin-left: 16px;
				color: $accent_color_5_1;
				text-decoration: 1px underline $accent_color_5_1;
				cursor: pointer;
			}
		}
	}
	&__body {
		display: flex;
		justify-content: space-between;
		margin-top: 16px;
		&__left {
			width: calc(65% - 8px);
			&__table {
				background: #fff;
				padding: 16px;
				border-radius: 5px;
			}
			&__information {
				text-align: right;
				margin-left: calc(100% - 350px);
				width: 350px;
				&__row {
					display: flex;
					align-items: center;
					justify-content: space-between;
					&__total {
						display: flex;
						align-items: center;
						justify-content: space-between;
						margin-top: 4px;
						padding-top: 8px;
						border-top: solid 1px #000;
						font-weight: bold;
					}
				}
				&__right {
					width: calc(40% - 12px);

					&__information {
						display: flex;
						align-items: center;
						justify-content: space-between;
						margin-bottom: 4px;
						&__label {
							color: $neutral_color_1_3;
						}
						&__textarea {
							border: 1px solid $neutral_color_1_3;
							border-radius: 5px;
							padding: 8px;
							min-height: 80px;
							overflow: auto;
						}
					}
				}
			}
			&__payment {
				background: #fff;
				padding: 16px;
				border-radius: 5px;
				margin-top: 16px;
				&__header {
					display: flex;
					align-items: center;
					justify-content: space-between;
					:nth-child(1) {
						h4 {
							margin: 0 16px 0 0;
						}
						display: flex;
						align-items: center;
					}
				}
				&__body {
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 8px;
					border-radius: 5px;
					margin-top: 16px;
					background: #f0f2f5;
					&__endprice {
						color: red;
					}
				}
			}
		}
		&__right {
			width: calc(35% - 8px);

			&__customer {
				padding: 16px;
				background: #fff;
				border-radius: 5px;
				&__row {
					display: flex;
					align-items: center;
					justify-content: space-between;
					border-bottom: solid 1px #dfe2e4;
					margin-bottom: 6px;
					span {
						color: #808a94;
					}
				}
			}
			&__address {
				padding: 16px;
				background: #fff;
				border-radius: 5px;
				margin-top: 16px;
				&__row {
					display: flex;
					align-items: center;
					justify-content: space-between;
					border-bottom: solid 1px #dfe2e4;
					margin-bottom: 6px;
					span {
						color: #808a94;
					}
				}
			}
			&__information {
				padding: 16px;
				background: #fff;
				border-radius: 5px;
				margin-top: 16px;
				&__row {
					display: flex;
					align-items: center;
					justify-content: space-between;
					border-bottom: solid 1px #dfe2e4;
					margin-bottom: 6px;
					span {
						color: #808a94;
					}
				}
			}
			&__note {
				padding: 16px;
				background: #fff;
				border-radius: 5px;
				margin-top: 16px;
				&__textarea {
					border-bottom: solid 1px #dfe2e4;
					border-radius: 5px;
					padding: 8px;
					min-height: 80px;
					overflow: auto;
				}
			}
		}
	}
}
.ordersPage__create {
	&__body {
		display: flex;
		justify-content: space-between;
		&__left {
			width: calc(60% - 6.5px);
			&__items {
				background: #fff;
				border-radius: 5px;
				padding: 16px;
			}
			&__transport {
				background: #fff;
				border-radius: 5px;
				padding: 16px;
				margin-top: 8px;
				&__left {
					padding: 8px;
					border-radius: 5px;
					border: 1px solid #999999;

					display: flex;
					align-items: center;
					justify-content: space-between;
					flex-wrap: wrap;
				}
				&__right {
					padding: 8px;
					border-radius: 5px;
					border: 1px solid #999999;
				}
			}
		}
		&__right {
			width: calc(40% - 6.5px);
			&__source {
				background: #fff;
				border-radius: 5px;
				padding: 16px;
			}
			&__shipping {
				background: #fff;
				border-radius: 5px;
				padding: 16px;
				margin-top: 8px;
			}
			&__payments {
				background: #fff;
				border-radius: 5px;
				padding: 16px;
				margin-top: 8px;
			}
		}
	}
}
