.productPage__edit {
	&__buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&__left {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}
		&__right {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}
	&__form {
		padding: 16px;
		background: #fff;
		margin-top: 8px;
		border-radius: 5px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		h4 {
			width: 100%;
		}
		.ant-form-item {
			width: calc((100% - 24px) / 4);
		}
	}
}

.productPage__create {
	// .ant-radio-checked .ant-radio-inner{
	// 	border-color: red !important ;
	// }

	// .ant-radio-checked .ant-radio-inner:after{
	// 	background-color: red;
	// }

	// .ant-radio:hover .ant-radio-inner {
	// 	border-color: red ;
	// }

	// .ant-checkbox-checked .ant-checkbox-inner{
	// 	background-color: red;
	// 	border-color: red;
	// }
	// .ant-checkbox-indeterminate .ant-checkbox-inner::after{
	// 	background-color: red;
	// 	border-color: red;
	// }

	// .ant-form-item-required::before{
	// 	display: none !important;
	// }

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&__left {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			.searchButton {
				transition: all 0.2s;
				&:hover {
					background-color: #000;
					color: #fcd804;
				}
			}
		}
		&__right {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
		&__create-children-products {
			color: #1890ff;
			cursor: pointer;
			&:hover {
				color: #40a9ff;
			}
		}
	}
	&__form {
		&__informations {
			display: flex;
			justify-content: space-between;
			&__left {
				width: calc(70% - 6.5px);
				&__information {
					height: 320px;
					padding: 16px;
					background: #fff;
					margin-top: 8px;
					border-radius: 5px;
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
					width: 100%;
					h4 {
						width: 100%;
					}
					.ant-form-item {
						width: calc((100% - 24px) / 4);
					}
				}
				&__attributes {
					padding: 8px 16px 16px 16px;
					background: #fff;
					margin-top: 8px;
					border-radius: 5px;
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
					width: 100%;
					&__header {
						display: flex;

						justify-content: space-between;
						width: 100%;
					}
				}
			}
			&__right {
				width: calc(30% - 6.5px);
				margin-top: 8px;
				&__status {
					padding: 16px;
					background: #fff;
					border-radius: 5px;
				}
				&__category {
					margin-top: 8px;
					padding: 16px;
					background: #fff;
					border-radius: 5px;
				}
				&__product-level {
					margin-top: 8px;
					padding: 16px;
					background: #fff;
					border-radius: 5px;
					&__item {
					}
				}
				&__installment {
					margin-top: 8px;
					padding: 16px;
					background: #fff;
					border-radius: 5px;
				}
				&__platform {
					margin-top: 8px;
					padding: 16px;
					background: #fff;
					border-radius: 5px;
					.ant-checkbox-group {
						label {
							width: calc(100% - 20px);
							margin-left: 20px;
						}
					}
				}
				&__available {
					margin-top: 8px;
					padding: 16px;
					background: #fff;
					border-radius: 5px;
					.ant-table-cell {
						padding: 4px 10px !important;
					}
				}
			}
		}
		&__warranty {
			margin-top: 13px;
			padding: 16px;
			background: #fff;
			border-radius: 5px;
			&__information {
				display: flex;
				align-items: center;
				justify-content: space-between;
				.ant-form-item {
					width: calc((100% - 24px) / 4);
				}
			}
			&__warranty {
				display: flex;
				align-items: center;
				justify-content: space-between;
				.ant-form-item {
					width: calc((100% - 24px) / 4);
				}
			}
		}
		&__seo {
			display: flex;
			justify-content: space-between;
			&__left {
				width: calc(70% - 8px);
				&__description {
					margin-top: 8px;
					width: 100%;
					padding: 16px;
					background: #fff;
					border-radius: 5px;
					h4 {
						margin-top: 8px;
					}
				}
				&__image {
					margin-top: 8px;
					width: 100%;
					padding: 16px;
					background: #fff;
					border-radius: 5px;
					.ant-upload-select .ant-upload-select-picture-card {
						width: 200px !important;
						height: 200px !important;
					}
					&__thumbnail {
						width: 200px;
						height: 200px;
						display: flex;
						align-items: center;
						justify-content: center;
						flex-direction: column;
						border: 1px dotted #000;
						background: rgb(240, 242, 245);
						border-radius: 5px;
						font-size: 12px;
						cursor: pointer;
					}
					&__images {
						&__upload {
							width: 100px;
							height: 100px;
							display: flex;
							align-items: center;
							justify-content: center;
							flex-direction: column;
							border: 1px dotted #000;
							background: rgb(240, 242, 245);
							border-radius: 5px;
							font-size: 8px;
							cursor: pointer;
							img {
								width: 50%;
								height: auto;
							}
						}
					}
				}
			}
			&__right {
				width: calc(30% - 8px);
				&__information {
					margin-top: 8px;
					padding: 16px;
					background: #fff;
					border-radius: 5px;
					&__thumbnail {
						width: 100%;
						min-height: 120px;
						display: flex;
						align-items: center;
						justify-content: center;
						flex-direction: column;
						border: 1px dotted #000;
						background: rgb(240, 242, 245);
						border-radius: 5px;
						font-size: 12px;
						cursor: pointer;
					}
				}
			}
		}
		&__history {
			margin-top: 8px;
			padding: 16px;
			background: #fff;
			border-radius: 5px;
		}
		&__group {
			margin-top: 8px;
			padding: 16px;
			background: #fff;
			border-radius: 5px;
		}
		&__children {
			&__list {
				.ant-form-item {
					margin-bottom: 0 !important;
				}
			}
			&__button-default {
				color: black;
				background-color: white;
				&:hover {
					background-color: black;
					color: #fcd804;
				}
				svg {
					color: black;
					font-weight: 600;
					font-size: 18px;
					margin-right: 5px;
					&:hover {
						color: #fcd804 !important;
						fill: #fcd804 !important;
					}
				}
			}
		}
		&__child {
			margin-top: 8px;
			padding: 16px;
			background: #fff;
			border-radius: 5px;
			&__input {
				width: 95% !important;
			}
		}
	}
}

.productPage {
}
